%h1 New STEEM

= form_for @post do |f|
  = f.text_area :body, rows: 10, class: :paste_textarea, style: "overflow: hidden; word-wrap: break-word; resize: horizontal; height: 228px; z-index: auto; position: relative; line-height: 21px; font-size: 13px; transition: none; background: transparent !important;"
  = f.submit 'Create New STEEM'
